#App {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2rem;
  flex-direction: column;
  overflow: hidden;
}

#app {
  height: 100vh;
  text-align: center;
}

.logo {
  width: 100%;
  height: 200px;
  position: relative;
}

@keyframes showBottom {
  to {
    margin-top: 0;
  }

  from {
    margin-top: -1500px;
  }
}

@keyframes showRight {
  to {
    margin-right: 0;
  }

  from {
    margin-right: -1500px;
  }
}

@keyframes toFill {
  0% {
    box-shadow: 0 0 #ed3b65 inset;
  }

  100% {
    box-shadow: 0 -100px #ed3b65 inset;
  }
}

@keyframes wave {
  0% {
    transform: translate(-50%) rotate(-180deg);

  }


  100% {
    transform: translate(-50%) rotate(360deg);
  }
}