.content {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text);
  font-size: 1.3rem;
  cursor: pointer;

  transition: var(--transition);
}

.back-btn:hover {
  transform: scale(1.2);
  color: var(--pink);
}