.add {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1em black;
}

.add-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  gap: 2rem;
  padding: 2rem 0;
}